doctype html
html(lang="en")
	head
		include partials/head
	body.login
		.contenedor-formulario 
			h1 Create your account in UpTask 

			if errors 
				each error in errors
					p.error.alert= error.message

			form#formulario.caja.caja-login(method='POST' action='/create-account')
				.campo 
					label(for="email") E-mail: 
					input(type="email" name="email" placeholder="Your email" required)
				.campo 
					label(for="password") Password: 
					input(type="password" name="password" placeholder="Your password" required)
				.campo.enviar
					input.boton(type="submit" value="Create account")
				.campo 
					a(href="/start-session") Start session