doctype html
html(lang="en")
	head
		include partials/head
	body 
		header.barra 
			h1 UpTask - Admin projects 
			a(href="/close-session") Close session
		
		main.contenedor 
			aside.contenedor-proyectos
				.panel.crear-proyecto 
					a(href="/new-project" class="boton") New project
						span +
				.panel.lista-proyectos
					h2 Projects
					ul#proyectos.proyectos 
						if(projects.length)
							each project in projects 
								li 
									a(href=`/projects/${project.url}`)= project.name
			block content

			//- pre= vardump(projects)
			