doctype html
html(lang="en")
	head
		include partials/head
	body.login
		.contenedor-formulario 
			h1= pageName 
			p Add your email to restore the password

			if locals.messages
				.alertas
					each category in Object.keys(locals.messages)
						each error in messages[category]
							.alerta(class=`${category}`)
								p= error

			form.caja.caja-login(method='POST' action='/restore-password')
				.campo 
					label(for="email") E-mail: 
					input(type="email" name="email" placeholder="Your email" value= email)
				.campo.enviar
					input.boton(type="submit" value="Restore password")
				.campo.acciones 
					a(href="/start-session") I remember, back to login