doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		style 
			include ./email.css
		title Confirm account
	body 
		h1 Confirm your account UpTask
		p You are almost subscribed, only press next button
		a(href=`${confirmUrl}`) confirm account 
		p If you can't access to this link, visit #{confirmUrl}
		p if you did not request this email, you can ignore it