doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		style 
			include ./email.css
		title Document
	body 
		h1 Restore password 
		p Enter your new password and click link below. Passwords must be a minimum of 8 characters long and are case sensitive. This link is temporary
		a(href=`${resetURL}`) reset Password 
		p If you can't access to this link, visit #{resetURL}
		p if you did not request this email, you can ignore it